# Validation Step
### Step 5: Validate Boardingpass,digital id with shoet video of passenger and bagagge items

In [131]:
import os
import pandas as pd
from azure.core.exceptions import ResourceNotFoundError
from azure.ai.formrecognizer import FormRecognizerClient
from azure.ai.formrecognizer import FormTrainingClient
from azure.core.credentials import AzureKeyCredential
from azure.ai.formrecognizer import DocumentAnalysisClient

from azure.cognitiveservices.vision.customvision.training import CustomVisionTrainingClient
from azure.cognitiveservices.vision.customvision.prediction import CustomVisionPredictionClient
from azure.cognitiveservices.vision.customvision.training.models import ImageFileCreateBatch, ImageFileCreateEntry, Region
from msrest.authentication import ApiKeyCredentials

In [107]:
file_path = '/Users/financialanalyst/AI-Enginear-Azure/cd0461-building-computer-vision-solutions-with-azure-project-starter/starter/flight-manifest-csv/flight_manifest.csv'

In [108]:
manifest_table = pd.read_csv(file_path,index_col=0)

In [109]:
manifest_table

,First Name,Last Name,DateofBirth,Sex,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer,Kumar,1990-01-25,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,False,False,False,False,False
1,Radha S.,Kumar,1994-03-05,F,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,False,False,False,False,False
2,James,Webb,1970-12-15,M,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,False,False,False,False,False
3,Libby,Herold,1996-02-10,F,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,False,False,False,False,False
4,James,Jackson,1956-10-12,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,False,False,False,False,False
5,Avkash,Chauhan,1990-01-01,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,False,False,False,False,False

In [110]:
# create the columns containing the validation data
validate_columns = ['NameValidation','DoBValidation','PersonValidation',
                    'BoardingPassValidation','LuggageValidation']

for column in validate_columns:
    manifest_table[column] = False

In [111]:
manifest_table

,First Name,Last Name,DateofBirth,Sex,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer,Kumar,1990-01-25,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,False,False,False,False,False
1,Radha S.,Kumar,1994-03-05,F,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,False,False,False,False,False
2,James,Webb,1970-12-15,M,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,False,False,False,False,False
3,Libby,Herold,1996-02-10,F,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,False,False,False,False,False
4,James,Jackson,1956-10-12,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,False,False,False,False,False
5,Avkash,Chauhan,1990-01-01,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,False,False,False,False,False

### 1. Confirm the Name and date of bith match with person in the manifest_table

In [112]:
# Get the SAS of the  digital Id image sof the passengers from Azure data storage. (they are saved there)
james_webb_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-james-webb.png?sp=r&st=2023-05-29T08:37:10Z&se=2023-05-29T16:37:10Z&spr=https&sv=2022-11-02&sr=b&sig=abewgoSdTBlf95bmxU5Fa1CKG5vskHkEGOrc78aGu90%3D"
chauhan_awkash_url= "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-avkash.png?sp=r&st=2023-05-29T08:35:07Z&se=2023-05-29T16:35:07Z&spr=https&sv=2022-11-02&sr=b&sig=4jFmary8f0feCik1lGFb0yEkgtEK67ezLGGE451w4UA%3D"
libby_heold_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-libby-herold.png?sp=r&st=2023-05-29T08:37:33Z&se=2023-05-29T16:37:33Z&spr=https&sv=2022-11-02&sr=b&sig=qLCAA6EAbkDax1gJWdpeXbnRIIuJ4mYu3xywCIS9XhA%3D"#
kumar_radha_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-radha-s-kumar.png?sp=r&st=2023-05-29T08:37:54Z&se=2023-05-29T16:37:54Z&spr=https&sv=2022-11-02&sr=b&sig=zLJoDjBuf6w5qr0tJPnTHekJ%2BBV%2F4OjDUPnSQSzjGqg%3D"
sameer_kumar_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-sameer-kumar.png?sp=r&st=2023-05-29T08:38:16Z&se=2023-05-29T16:38:16Z&spr=https&sv=2022-11-02&sr=b&sig=xha%2Ba1%2B%2F7CqOd0hJVutgJS3zS09TvHlp5g21rNJ4rzY%3D"
james_jackson_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-james-jackson.png?sp=r&st=2023-05-29T08:36:46Z&se=2023-05-29T16:36:46Z&spr=https&sv=2022-11-02&sr=b&sig=wUAYGezFNvekOwgt0MehN7Bblq24iX1%2BcFPDV3RF3Lw%3D"

In [113]:
#### Create dictionary of the name of person in

In [114]:
# url lists
url_lists_id = [sameer_kumar_url,kumar_radha_url,james_webb_url,libby_heold_url,james_jackson_url,chauhan_awkash_url]

In [115]:
# get the form recognizer key and endpoint
AZURE_FORM_RECOGNIZER_ENDPOINT = ""
AZURE_FORM_RECOGNIZER_KEY = ""

endpoint = AZURE_FORM_RECOGNIZER_ENDPOINT
key = AZURE_FORM_RECOGNIZER_KEY

form_recognizer_client = FormRecognizerClient(endpoint=endpoint, credential=AzureKeyCredential(key))
for i,content_url in enumerate(url_lists_id):
    print(f"validating passenger number:  {i+1}")
    id_content_from_url = form_recognizer_client.begin_recognize_identity_documents_from_url(content_url)
    collected_id_cards = id_content_from_url.result()[0]
    
    first_name = collected_id_cards.fields.get("FirstName")
    print("First Name: {} has confidence: {}".format(first_name.value, first_name.confidence))
    
    last_name = collected_id_cards.fields.get("LastName")
    print("Last Name: {} has confidence: {}".format(last_name.value, last_name.confidence))
    
    dob = collected_id_cards.fields.get("DateOfBirth")
    print("Date of Birth: {} has confidence: {}".format(dob.value, dob.confidence)) 

    
    # validate the name and update the manifest data
    if first_name.value.lower()==manifest_table.loc[i,'First Name'].lower() and last_name.value.lower()==manifest_table.loc[i,'Last Name'].lower():
        print(f"the name for passenger number {i+1} is validated and updated on database")
        manifest_table.loc[i,'NameValidation']=True
    else:
        print('''
        Dear Sir/Madam,
        Some of the information on your ID card does not 
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.
        ''')
    
    if str(dob.value)==manifest_table.loc[i,'DateofBirth']:
        print(f"the date of birth for passenger number {i+1} is validated and updated on database")
        manifest_table.loc[i,'DoBValidation']=True

validating passenger number:  1
First Name: Sameer has confidence: 0.769
Last Name: Kumar has confidence: 0.853
Date of Birth: 1990-01-25 has confidence: 0.995
the name for passenger number 1 is validated and updated on database
the date of birth for passenger number 1 is validated and updated on database
validating passenger number:  2
First Name: Radha has confidence: 0.821
Last Name: SKumar has confidence: 0.906
Date of Birth: 1994-03-05 has confidence: 0.995

        Dear Sir/Madam,
        Some of the information on your ID card does not
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.

the date of birth for passenger number 2 is validated and updated on database
validating passenger number:  3
First Name: James has confidence: 0.408
Last Name: Webb has confidence: 0.69
Date of Birth: 1970-12-15 has confidence: 0.995
the name for passenger number 3 is validated and updated on database
the date of birth for passenger number 3 is validated and updated on database
validating passenger number:  4
First Name: Libby has confidence: 0.886
Last Name: Herold has confidence: 0.897
Date of Birth: 1996-02-10 has confidence: 0.995
the name for passenger number 4 is validated and updated on database
the date of birth for passenger number 4 is validated and updated on database
validating passenger number:  5
First Name: James has confidence: 0.822
Last Name: Jackson has confidence: 0.843
Date of Birth: 1956-10-12 has confidence: 0.995

        Dear Sir/Madam,
        Some of the information on your ID card does not
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.

the date of birth for passenger number 5 is validated and updated on database
validating passenger number:  6
First Name: AVKASH CHAUHAN has confidence: 0.824
Last Name: CHAUHAN has confidence: 0.908
Date of Birth: 1990-01-01 has confidence: 0.995

        Dear Sir/Madam,
        Some of the information on your ID card does not
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.

the date of birth for passenger number 6 is validated and updated on database

In [116]:
manifest_table

,First Name,Last Name,DateofBirth,Sex,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer,Kumar,1990-01-25,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,True,True,False,False,False
1,Radha S.,Kumar,1994-03-05,F,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,False,True,False,False,False
2,James,Webb,1970-12-15,M,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,True,True,False,False,False
3,Libby,Herold,1996-02-10,F,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,True,True,False,False,False
4,James,Jackson,1956-10-12,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,False,True,False,False,False
5,Avkash,Chauhan,1990-01-01,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,False,True,False,False,False

In [117]:
manifest_table.columns = [col.strip() for col in manifest_table.columns]

### Validate Boarding Passes details with the manifest data

In [118]:
# Get the SAS of the  digital Id image sof the passengers from Azure data storage. (they are saved there)
james_webb_url = "https://storageveritapp.blob.core.windows.net/boardingpass/boarding-james-webb.pdf?sp=r&st=2023-05-29T08:09:21Z&se=2023-05-29T16:09:21Z&spr=https&sv=2022-11-02&sr=b&sig=qoBnoKaD3feHXeqn4TfzYorBE%2BcpWdkHvlxAEAVF2DM%3D"
chauhan_awkash_url= "https://storageveritapp.blob.core.windows.net/boardingpass/boarding-avkash.pdf?sp=r&st=2023-05-29T08:03:48Z&se=2023-05-31T16:03:48Z&spr=https&sv=2022-11-02&sr=b&sig=odAiNlnKjRiyOpt5y7BeLHDV17H0FKMblV48lNazmTo%3D"
libby_heold_url = "https://storageveritapp.blob.core.windows.net/boardingpass/boarding-libby.pdf?sp=r&st=2023-05-29T08:10:14Z&se=2023-05-29T16:10:14Z&spr=https&sv=2022-11-02&sr=b&sig=SAB1M94wuCaQ4PjZMaQnIryxCY%2F%2Bv47ZnzxHV4mx2HA%3D" #
kumar_radha_url = "https://storageveritapp.blob.core.windows.net/boardingpass/boarding-radha-s-kumar.pdf?sp=r&st=2023-05-29T08:10:36Z&se=2023-05-29T16:10:36Z&spr=https&sv=2022-11-02&sr=b&sig=UeIOL89DUeDMQCxGo3lpAArLh1uHqgSfrnmJwthnVmw%3D"
sameer_kumar_url = "https://storageveritapp.blob.core.windows.net/boardingpass/boarding-sameer.pdf?sp=r&st=2023-05-29T08:11:02Z&se=2023-05-29T16:11:02Z&spr=https&sv=2022-11-02&sr=b&sig=3S6%2BnsZNirJcxVZnwLhcTufu5JbaEges75oR8ZdU6CQ%3D"
james_jackson_url = "https://storageveritapp.blob.core.windows.net/boardingpass/boarding-james.pdf?sp=r&st=2023-05-29T08:09:51Z&se=2023-05-29T16:09:51Z&spr=https&sv=2022-11-02&sr=b&sig=J1%2FhX%2FZtDhgVmxvZqRgZrPs3%2Fm69UdFYXyNCdxi0FPU%3D"

In [119]:
# build list of passengers based on their name appear in the manifest table
url_lists_id = [sameer_kumar_url,kumar_radha_url,james_webb_url,libby_heold_url,james_jackson_url,chauhan_awkash_url]

In [120]:
manifest_table['Class'] = ['E' if x.strip()=='Economy' else 'B' for x in manifest_table['Class'].values]

In [129]:
# get the form recognizer key and endpoint
AZURE_FORM_RECOGNIZER_ENDPOINT = ""
AZURE_FORM_RECOGNIZER_KEY = ""

endpoint = AZURE_FORM_RECOGNIZER_ENDPOINT
key = AZURE_FORM_RECOGNIZER_KEY

document_analysis_client = DocumentAnalysisClient(
    endpoint=endpoint, credential=AzureKeyCredential(key)
)

model_id = 'custom-boarding-pass-model-2'


for i,content_url in enumerate(url_lists_id):
    print(f"validating passenger number:  {i+1}")
    poller = document_analysis_client.begin_analyze_document_from_url(model_id, content_url)
    result = poller.result()
    
    extracted_info = {}
    for idx, document in enumerate(result.documents):
        for name, field in document.fields.items():
            extracted_info[name] = field.value if field.value else field.content
    print(extracted_info)
    extracted_info['First Name'] = extracted_info['Passenger Name'].split(' ')[0]
    extracted_info['Last Name'] = extracted_info['Passenger Name'].split(' ')[1]
    extracted_info['Flight No.'] = extracted_info['Flight No']
    extracted_info['Gate'] = extracted_info['GATE']

    extracted_info.pop('Flight No')
    extracted_info.pop('Passenger Name')
    extracted_info.pop('GATE')
    extracted_info.pop('Boarding Time')
    extracted_info.pop('Date')

    
    validation_count=0
    for name,value in extracted_info.items():
        if value.strip().lower()==str(manifest_table.loc[i,name]).strip().lower():
            validation_count+=1
        else:
            print(f'{name},  {value} , does not match with {manifest_table.loc[i,name]}')
            
    if validation_count==10:
        manifest_table.loc[i,'BoardingPassValidation']=True
    else:
        print('''
        Dear Sir/Madam,
        Some of the information on your ID card does not 
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.
        ''')

validating passenger number:  1
{'Passenger Name': 'Sameer Kumar', 'GATE': 'G1', 'Seat': '34A', 'From': 'San Francisco', 'Date': 'April 20, 2022', 'To': 'Chicago', 'Boarding Time': '10:00 AM PST', 'Baggage': 'YES', 'Class': 'E', 'Flight No': '234', 'Carrier': 'UA'}
validating passenger number:  2
{'Flight No': '234', 'Seat': '34B', 'Baggage': 'YES', 'Date': 'April 20, 2022', 'Carrier': 'UA', 'GATE': 'G1', 'Class': 'E', 'From': 'San Francisco', 'Boarding Time': '10:00 AM PST', 'Passenger Name': 'Radha S Kumar', 'To': 'Chicago'}
First Name,  Radha , does not match with Radha S.
Last Name,  S , does not match with Kumar

        Dear Sir/Madam,
        Some of the information on your ID card does not
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.

validating passenger number:  3
{'Flight No': '234', 'Seat': '1A', 'Baggage': 'YES', 'Date': 'April 20, 2022', 'Carrier': 'UA', 'GATE': 'G1', 'Class': 'B', 'From': 'San Francisco', 'Boarding Time': '10:00 AM PST', 'Passenger Name': 'James Webb', 'To': 'Chicago'}
Baggage,  YES , does not match with No

        Dear Sir/Madam,
        Some of the information on your ID card does not
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.

validating passenger number:  4
{'Flight No': '234', 'Seat': '3D', 'Baggage': 'YES', 'Date': 'April 20, 2022', 'Carrier': 'UA', 'GATE': 'G1', 'Class': 'B', 'From': 'San Francisco', 'Boarding Time': '10:00 AM PST', 'Passenger Name': 'Libby Herold', 'To': 'Chicago'}
Baggage,  YES , does not match with No

        Dear Sir/Madam,
        Some of the information on your ID card does not
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.

validating passenger number:  5
{'Boarding Time': '10:00 AM PST', 'To': 'Chicago', 'Date': 'April 20, 2022', 'Flight No': '234', 'Class': 'E', 'From': 'San Francisco', 'Seat': '25B', 'Carrier': 'UA', 'Baggage': 'YES', 'GATE': 'G1', 'Passenger Name': 'James Jackson'}
validating passenger number:  6
{'Passenger Name': 'Avkash Chauhan', 'GATE': 'G1', 'Seat': '20A', 'From': 'San Francisco', 'Date': 'April 20, 2022', 'To': 'Chicago', 'Boarding Time': '10:00 AM PST', 'Baggage': 'NO', 'Class': 'E', 'Flight No': '234', 'Carrier': 'UA'}

### Validate Objects detected in the baggage are OK or Not

In [133]:
test_images_path = '/Users/financialanalyst/AI-Enginear-Azure/cd0461-building-computer-vision-solutions-with-azure-project-starter/starter/lighter_test_images'

In [134]:
files = os.listdir(test_images_path)

In [138]:
PREDICTION_ENDPOINT = ''
prediction_key = ""
project_id = ''
publish_iteration_name = 'Iteration1'

prediction_credentials = ApiKeyCredentials(in_headers={"Prediction-key": prediction_key})
predictor = CustomVisionPredictionClient(PREDICTION_ENDPOINT, prediction_credentials)

In [146]:
def perform_prediction(image_file_name):
    with open(os.path.join (test_images_path,  image_file_name), "rb") as image_contents:
        results = predictor.detect_image(project_id, publish_iteration_name, image_contents.read())
        # Display the results.
        print(f'Prediction result for file {image_file_name}: {results.predictions[0].probability}')

In [147]:
perform_prediction(files[0])

Prediction result for file lighter_test_set_5of5.jpg: 0.99755013

In [148]:
for image in files:
    perform_prediction(image)

Prediction result for file lighter_test_set_5of5.jpg: 0.99755013
Prediction result for file lighter_test_set_3of5.jpg: 0.9294435
Prediction result for file lighter_test_set_1of5.jpg: 0.8206425
Prediction result for file lighter_test_set_4of5.jpg: 0.79342175
Prediction result for file lighter_test_set_2of5.jpg: 0.7871858

In [149]:
# save the updated manifest table
manifest_table.to_csv('updated_manifest_table.csv')

In [150]:
manifest_table

,First Name,Last Name,DateofBirth,Sex,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer,Kumar,1990-01-25,M,UA,234,E,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,True,True,False,True,False
1,Radha S.,Kumar,1994-03-05,F,UA,234,E,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,False,True,False,False,False
2,James,Webb,1970-12-15,M,UA,234,B,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,True,True,False,False,False
3,Libby,Herold,1996-02-10,F,UA,234,B,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,True,True,False,False,False
4,James,Jackson,1956-10-12,M,UA,234,E,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,False,True,False,True,False
5,Avkash,Chauhan,1990-01-01,M,UA,234,E,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,False,True,False,True,False