# Validation Step
### Step 5: Validate Boardingpass,digital id with shoet video of passenger and bagagge items

In [95]:
import os
import pandas as pd
from azure.core.exceptions import ResourceNotFoundError
from azure.ai.formrecognizer import FormRecognizerClient
from azure.ai.formrecognizer import FormTrainingClient
from azure.core.credentials import AzureKeyCredential

In [96]:
file_path = '/Users/financialanalyst/AI-Enginear-Azure/cd0461-building-computer-vision-solutions-with-azure-project-starter/starter/flight-manifest-csv/flight_manifest.csv'

In [97]:
manifest_table = pd.read_csv(file_path,index_col=0)

In [98]:
manifest_table

,First Name,Last Name,DateofBirth,Sex,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer,Kumar,1990-01-25,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,False,False,False,False,False
1,Radha S.,Kumar,1994-03-05,F,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,False,False,False,False,False
2,James,Webb,1970-12-15,M,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,False,False,False,False,False
3,Libby,Herold,1996-02-10,F,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,False,False,False,False,False
4,James,Jackson,1956-10-12,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,False,False,False,False,False
5,Avkash,Chauhan,1990-01-01,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,False,False,False,False,False

In [99]:
# create the columns containing the validation data
validate_columns = ['NameValidation','DoBValidation','PersonValidation',
                    'BoardingPassValidation','LuggageValidation']

for column in validate_columns:
    manifest_table[column] = False

In [100]:
manifest_table

,First Name,Last Name,DateofBirth,Sex,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer,Kumar,1990-01-25,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,False,False,False,False,False
1,Radha S.,Kumar,1994-03-05,F,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,False,False,False,False,False
2,James,Webb,1970-12-15,M,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,False,False,False,False,False
3,Libby,Herold,1996-02-10,F,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,False,False,False,False,False
4,James,Jackson,1956-10-12,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,False,False,False,False,False
5,Avkash,Chauhan,1990-01-01,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,False,False,False,False,False

### 1. Confirm the Name and date of bith match with person in the manifest_table

In [101]:
# Get the SAS of the  digital Id image sof the passengers from Azure data storage. (they are saved there)
james_webb_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-james-webb.png?sp=rwd&st=2023-05-07T22:29:25Z&se=2023-05-08T06:29:25Z&skoid=5db43561-8911-46cf-b92a-3eb974e87b48&sktid=70ad2673-ac4d-4bab-8322-7e95fd0dd888&skt=2023-05-07T22:29:25Z&ske=2023-05-08T06:29:25Z&sks=b&skv=2022-11-02&spr=https&sv=2022-11-02&sr=b&sig=qsI%2Bux7DRhRPT0KuQRWJpRLiIwPVqzjPxj%2Bih7CNnDI%3D"
chauhan_awkash_url= "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-avkash.png?sp=rwd&st=2023-05-07T21:54:22Z&se=2023-05-08T05:54:22Z&skoid=5db43561-8911-46cf-b92a-3eb974e87b48&sktid=70ad2673-ac4d-4bab-8322-7e95fd0dd888&skt=2023-05-07T21:54:22Z&ske=2023-05-08T05:54:22Z&sks=b&skv=2022-11-02&spr=https&sv=2022-11-02&sr=b&sig=HDmGg7NjmANEYHZaDf91fZlSAhkKQHljlK8miy1ITYs%3D"
libby_heold_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-libby-herold.png?sp=rwd&st=2023-05-07T21:55:41Z&se=2023-05-08T05:55:41Z&skoid=5db43561-8911-46cf-b92a-3eb974e87b48&sktid=70ad2673-ac4d-4bab-8322-7e95fd0dd888&skt=2023-05-07T21:55:41Z&ske=2023-05-08T05:55:41Z&sks=b&skv=2022-11-02&spr=https&sv=2022-11-02&sr=b&sig=cMirUT5xEfp%2BTaUSX2LJPyTqFaAcF%2B%2FEDqKlFsFH6xc%3D" #
kumar_radha_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-radha-s-kumar.png?sp=rwd&st=2023-05-07T21:56:17Z&se=2023-05-08T05:56:17Z&skoid=5db43561-8911-46cf-b92a-3eb974e87b48&sktid=70ad2673-ac4d-4bab-8322-7e95fd0dd888&skt=2023-05-07T21:56:17Z&ske=2023-05-08T05:56:17Z&sks=b&skv=2022-11-02&spr=https&sv=2022-11-02&sr=b&sig=XjzpqoFEBaiyV1hUz9JMJ5WxFS3xNOiyklsf0ZdQ6es%3D"
sameer_kumar_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-sameer-kumar.png?sp=rwd&st=2023-05-07T21:56:51Z&se=2023-05-08T05:56:51Z&skoid=5db43561-8911-46cf-b92a-3eb974e87b48&sktid=70ad2673-ac4d-4bab-8322-7e95fd0dd888&skt=2023-05-07T21:56:51Z&ske=2023-05-08T05:56:51Z&sks=b&skv=2022-11-02&spr=https&sv=2022-11-02&sr=b&sig=w6%2FvfcMktOAXxQXam9RZ3cOPEk4eplB%2BykXDOeBfxe0%3D"
james_jackson_url = "https://storageveritapp.blob.core.windows.net/digital-id/ca-dl-james-jackson.png?sp=rwd&st=2023-05-07T21:57:20Z&se=2023-05-08T05:57:20Z&skoid=5db43561-8911-46cf-b92a-3eb974e87b48&sktid=70ad2673-ac4d-4bab-8322-7e95fd0dd888&skt=2023-05-07T21:57:20Z&ske=2023-05-08T05:57:20Z&sks=b&skv=2022-11-02&spr=https&sv=2022-11-02&sr=b&sig=D6N44huPz7YGAN52orLRzsivs3JWFgSx60I2Ac5oMY4%3D"

In [102]:
first_name = collected_id_cards.fields.get("FirstName")

In [ ]:
#### Create dictionary of the name of person in

In [103]:
# url lists
url_lists_id = [sameer_kumar_url,kumar_radha_url,james_webb_url,libby_heold_url,james_jackson_url,chauhan_awkash_url]

In [109]:
# get the form recognizer key and endpoint
AZURE_FORM_RECOGNIZER_ENDPOINT = "https://form-recognizer-1920.cognitiveservices.azure.com/"
AZURE_FORM_RECOGNIZER_KEY = "9b7261b3e65343dbb012f0d3c67d6812"

endpoint = AZURE_FORM_RECOGNIZER_ENDPOINT
key = AZURE_FORM_RECOGNIZER_KEY

form_recognizer_client = FormRecognizerClient(endpoint=endpoint, credential=AzureKeyCredential(key))
for i,content_url in enumerate(url_lists_id):
    print(f"validating passenger number:  {i+1}")
    id_content_from_url = form_recognizer_client.begin_recognize_identity_documents_from_url(content_url)
    collected_id_cards = id_content_from_url.result()[0]
    
    first_name = collected_id_cards.fields.get("FirstName")
    print("First Name: {} has confidence: {}".format(first_name.value, first_name.confidence))
    
    last_name = collected_id_cards.fields.get("LastName")
    print("Last Name: {} has confidence: {}".format(last_name.value, last_name.confidence))
    
    dob = collected_id_cards.fields.get("DateOfBirth")
    print("Date of Birth: {} has confidence: {}".format(dob.value, dob.confidence)) 

    
    # validate the name and update the manifest data
    if first_name.value.lower()==manifest_table.loc[i,'First Name'].lower() and last_name.value.lower()==manifest_table.loc[i,'Last Name'].lower():
        print(f"the name for passenger number {i+1} is validated and updated on database")
        manifest_table.loc[i,'NameValidation']=True
    else:
        print('''
        Dear Sir/Madam,
        Some of the information on your ID card does not 
        match the flight manifest data, so you cannot board the plane.
        Please see a customer service representative.
        ''')
    
    if str(dob.value)==manifest_table.loc[i,'DateofBirth']:
        print(f"the date of birth for passenger number {i+1} is validated and updated on database")
        manifest_table.loc[i,'DoBValidation']=True

validating passenger number:  1
First Name: Sameer has confidence: 0.769
Last Name: Kumar has confidence: 0.853
the name for passenger number 1 is validated and updated on database
Date of Birth: 1990-01-25 has confidence: 0.995
the date of birth for passenger number 1 is validated and updated on database
validating passenger number:  2
First Name: Radha has confidence: 0.821
Last Name: SKumar has confidence: 0.906
Date of Birth: 1994-03-05 has confidence: 0.995
the date of birth for passenger number 2 is validated and updated on database
validating passenger number:  3
First Name: James has confidence: 0.408
Last Name: Webb has confidence: 0.69
the name for passenger number 3 is validated and updated on database
Date of Birth: 1970-12-15 has confidence: 0.995
the date of birth for passenger number 3 is validated and updated on database
validating passenger number:  4
First Name: Libby has confidence: 0.886
Last Name: Herold has confidence: 0.897
the name for passenger number 4 is validated and updated on database
Date of Birth: 1996-02-10 has confidence: 0.995
the date of birth for passenger number 4 is validated and updated on database
validating passenger number:  5
First Name: James has confidence: 0.822
Last Name: Jackson has confidence: 0.843
Date of Birth: 1956-10-12 has confidence: 0.995
the date of birth for passenger number 5 is validated and updated on database
validating passenger number:  6
First Name: AVKASH CHAUHAN has confidence: 0.824
Last Name: CHAUHAN has confidence: 0.908
Date of Birth: 1990-01-01 has confidence: 0.995
the date of birth for passenger number 6 is validated and updated on database

In [110]:
manifest_table

,First Name,Last Name,DateofBirth,Sex,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer,Kumar,1990-01-25,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,True,True,False,False,False
1,Radha S.,Kumar,1994-03-05,F,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,False,True,False,False,False
2,James,Webb,1970-12-15,M,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,True,True,False,False,False
3,Libby,Herold,1996-02-10,F,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,True,True,False,False,False
4,James,Jackson,1956-10-12,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,False,True,False,False,False
5,Avkash,Chauhan,1990-01-01,M,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,False,True,False,False,False

### Validate Boarding Passes details with the manifest data